#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-grey;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 5rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-title.title {
    margin-bottom: 5rem;
  }

  .hero-title.subtitle {
    font-size: 2.5rem;
  }

  .hero-title.intro {
    font-size: 2.2rem;
    line-height: 4rem;
  }

  .hero-transition i {
    color: $dark-blue-text;
    margin: 1rem 0 $default-font-size;
    transition: all 0.2s ease-in;
  
    &:hover {
      color: $secondary-color;
      transform: translateY(2px);
    }
  }
  
}
