.nav {
  // background-color: $primary-color;
  color: $dark-blue-text;
  padding: 3em 0;
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  position: sticky;

  @include respond(phone) {
    border: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.nav__text {
  color: $dark-blue-text;
  font-size: 1.5rem;
  transition: all 0.4s;
  padding: 0 3rem;
  position: sticky;
  &:hover {
    color: $secondary-color;
    transform: scale(1.05,1.05);
  }
}



